<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Stuff</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Everything Stuff</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/html" class="nav-link">Here</a>
                    </li>
                    <li class="nav-item"><a href="/jokes" class="nav-link">Jokes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Do you know how similar your phone and your nose are ?</h1>
            <p>This is going to take you elseware.</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/jokes" role="button">Get some random fun here</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Did you know that way back, humor was believed to be the reason for anger, sorrow and apathy ?</h3>
                <p>Not the funny kind of humor, though, these were more like bodily fluids, like bile, blood and lymph. Stupid greeks, lol.
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Have you noticed how weirds trees are ?</h3>
                <p>No, seriously. They come straight out from nothing, growing endlessly from the ground like zombies and spreading out their fractals in the air in slow motion, what the duck ?
                </p>
            </div>
        </div>
    </div>
</body>

</html>